@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old Standard TT', serif;
}

color{
  color: red;
}

body {
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
}

:root{
  --backg: rgb(247, 247, 247);
}

.preloaderr{
  background-color: var(--backg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Slick */

.slick div{
  background-color: black;
  color: white;
  height: 3.5vh;
  margin-bottom: 0;
}

/* NavBar */

.navbar img {
  max-width: 100px;
}

.navbar .navlinks{
  display: flex; 
}

.navlinks a{
  text-decoration: none;
  color: black;
  margin-right: 18px;
  margin-top: 7px;
  transition: all .5s ease-in;
  position: relative;
}

.navlinks a::after{
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.navlinks a:hover::after{
  transform: scale(1);
  transform-origin: left;
}

.navlinks a:focus::after{
  transform: scale(1);
}

.icone{
  color: black;
  font-size: 20px;
  margin: 5px;
}

.navlinks .icone-small{
  color: rgb(124, 122, 122);
}

/* Bannar */

.bannar{
  background-image: url(Desktop-HomepageUpload_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.bannar div{
  margin-top: 140px;
}

.bannar div h1{
    max-width: 500px;
    display: block;
    font-size: 45px;
    margin-block-start: 0.9em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bannar div p{
  width: 300px;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-block-start: 0.7em;
  margin-block-end: 2.2em;
  margin-inline-start: 90px;
  margin-inline-end: 0px;
  line-height: 1.1;
}

.bannar div a{
  text-decoration: none;
  padding: 10px 60px;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.bannar div a::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(240, 235, 235);
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: right;
    z-index: -1;
    transition: transform 250ms ease-in-out;
}

.bannar div a:hover::after{
  transform: scaleX(0);
  transform-origin: right;
} 

.bannar div a:hover{
  color: rgb(240, 235, 235);
  
}

/* sec-2 */
.sec-2{
  height: 100vh;
  margin-bottom: 20px;
}

.slick-slide{
  margin: 0 8px;
}

.slick-list{
  margin: 0 -8px;
}

.after-card{
  margin-top: 100px;
}

.after-card .left h1{
  margin-bottom: 20px;
}

.after-card .right .btn{
  margin-right: 8px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  cursor: pointer;
} 

.sec-2 .card div{
  position: relative;
}

.sec-2 .card div .photo{
  z-index: 1;
}

.sec-2 .card div .photo-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sec-2 .card div:hover .photo-2{
  z-index: 4;
}

.sec-2 .card .card-title{
  font-size: 17px;
}

.sec-2 .card .card-subtitle{
  display: flex;
}

.sec-2 .card a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.sec-2 .card .card-text{
  border: 1px solid black;
  border-radius: 23px;
  text-align: center;
  width: 150px;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 15;
  font-weight: bold;
}

/* sec-3 */
.sec-3{
  color: aliceblue;
}

.sec-3 .big-img-left{
  background: url(../public/images/Home/Royale-2.0-230907-Secondary-Fall-HP-Update-Secondary-Desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.sec-3 .big-img{
  background: url(../public/images/Home/Womens-230907-Secondary-Fall-HP-Update-Secondary-Desktop_5d537d2f-7480-4b72-801a-c24e3e3f1ef6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.sec-3 .big-img div , .sec-3 .big-img-left div{
  margin-bottom: 80px;
}

.sec-3 .big-img-left div a{
  text-decoration: none;
  background: transparent;
  padding: 10px 60px;
  color: aliceblue;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.sec-3 .big-img-left div a::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
  z-index: -1;
}

.sec-3 .big-img-left div a:hover::after{
  transform: scaleX(1);
  transform-origin: right;
}

.sec-3 .big-img-left div a:hover{
  color: white;
  border: 1px solid black;
}

.sec-3 .big-img div .btn{
  padding: 7px 65px;
  border-radius: 10px;
  transition: transform 250ms ease;
  position: relative;
  z-index: 1;
}

.sec-3 .big-img div .btn::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  border-radius: 8px;
  transform: scaleX(0);
  transform-origin: right;
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

.sec-3 .big-img  div .btn:hover::after{
  transform: scaleX(1);
  transform-origin: right;
}

.sec-3 .big-img div .btn:hover{
  color: aliceblue;
  border: 1.2px solid black;
}

/* sec-4 */
.sec-4{
  margin-top: 80px;
}

.sec-4 .cards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.sec-4 .left-card,.sec-4 .medil-card,.sec-4 .right-card{
  max-width: 400px;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.sec-4 .left-card div,.sec-4 .medil-card div,.sec-4 .right-card div{
  overflow: hidden;
  max-width: 350px;
  height: 450px;
}

.sec-4 .left-card img,.sec-4 .medil-card img,.sec-4 .right-card img{
  width: 100%;
  height: 100%;
  transform: scale(1.06);
  transition: all 250ms ease-in-out;
}

.sec-4 .left-card img:hover,.sec-4 .medil-card img:hover,.sec-4 .right-card img:hover{
  transform: scale(1);
}

.sec-4 .left-card a,.sec-4 .medil-card a,.sec-4 .right-card a{
  text-decoration: none;
}

.sec-4 .left-card a p,.sec-4 .medil-card a p,.sec-4 .right-card a p{
  color: black;
  font-size: 20px;
  transition: all 250ms ease-in-out;
}

.sec-4 .left-card:hover a p,.sec-4 .medil-card:hover a p,.sec-4 .right-card:hover a p{
  transform: scale(1.1);
  font-weight: bold;
}

/* Footer */
.footer{
  background-color: var(--backg);
  position: relative;
}

.footer::after{
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.footer .left p{
  max-width: 300px;
}

.footer .left .botn a{
  text-decoration: none;
  background: transparent;
  padding: 10px 60px;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.footer .left .botn a::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
  z-index: -1;
}

.footer .left .botn a:hover::after{
  transform: scaleX(1);
  transform-origin: right;
}

.footer .left .botn a:hover{
  color: white;
  border: 1px solid black;
}

.footer .bottom a img{
   width: 40px;
   height: 40px;
}

.footer .bottom a{
  color: black;
  text-decoration: none;
}

.footer .bottom ul li a{
  font-size: 22px;
}

.footer .bottom ul .inst:hover a{
  color: rgb(211, 89, 32);
}

.footer .bottom ul .fb:hover a{
  color: rgb(5, 74, 202);
}

.footer .bottom ul .twiter:hover a{
  color: rgb(0, 139, 204);
}

.footer .bottom ul .yt:hover a{
  color: rgb(255, 5, 5);
}

.footer .bottom .right-text:hover{
  color: rgb(5, 74, 202);
}

/* Our Story Page */
.ourbannar1{
  height: 86.5vh;
  width: 100%;
  background: url(../public/images/Ourstory/Header_4fd93565-f097-4415-b87f-6d98317e266b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourbannar2{
  margin-top: 20px;
}

.ourbannar2 div .top{
  font-weight: bold;
}

.ourbannar2 div .parg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourbannar2 div .parg p{
  max-width: 800px;
}

.ourbannar3{
  height: 90vh;
  width: 100%;
  background: url(../public/images/Ourstory/Breakdown.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* oursec-1 */
.oursec-1,.oursec-2{
  margin-bottom: 80px;
}

.oursec-1 .after-card1,.oursec-2 .after-card1{
  margin-left: 15px;
}

.oursec-1 .after-card1 div{
  max-width: 550px;
}

.oursec-2 .after-card1 div{
  max-width: 650px;
}

.oursec-1 .total-card .card ,.oursec-2 .total-card .card{
  max-width: 22rem;
}

.oursec-1 .total-card .card div,.oursec-2 .total-card .card div{
  position: relative;
}

.oursec-1 .total-card .card div .photo,.oursec-2 .total-card .card div .photo{
  z-index: 1;
}

.oursec-1 .total-card .card div .photo-2,.oursec-2 .total-card .card div .photo-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.oursec-1 .total-card .card div:hover .photo-2,.oursec-2 .total-card .card div:hover .photo-2{
  z-index: 4;
}

.oursec-1 .total-card .card .card-title a,.oursec-2 .total-card .card .card-title a{
  font-size: 17px;
}

.oursec-1 .total-card .card .card-subtitle,.oursec-2 .total-card .card .card-subtitle{
  display: flex;
}

.oursec-1 .total-card .card a,.oursec-2 .total-card .card a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.oursec-1 .total-card .card .card-text,.oursec-2 .total-card .card .card-text{
  border: 1px solid black;
  border-radius: 23px;
  text-align: center;
  width: 80px;
  font-size: 13px;
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 15;
  font-weight: bold;
}

.oursec-1 .total-card .btn,.oursec-2 .total-card .btn{
  margin-top: 30px;
}

.oursec-1 .total-card .btn a,.oursec-2 .total-card .btn a{
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  padding: 10px 70px;
  color: rgb(240, 235, 235);
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.oursec-1 .total-card .btn a::after,.oursec-2 .total-card .btn a::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: right;
    z-index: -1;
    transition: transform 250ms ease-in-out;
}

.oursec-1 .total-card .btn a:hover::after,.oursec-2 .total-card .btn a:hover::after{
  transform: scaleX(0);
  transform-origin: right;
} 

.oursec-1 .total-card .btn a:hover,.oursec-2 .total-card .btn a:hover{
  color: black;
  
}

.oursec-1 .total-card .photo-left1{
  max-width: 1000px;
  height: 560px;
  background: url(../public/images/Ourstory/Craftsmanship.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oursec-2 .total-card .photo-left1{
  max-width: 1000px;
  height: 560px;
  background: url(../public/images/Ourstory/Eco.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact US Page */
.Contact{
  background-color: white;
  height: 87vh;
  color: black;
}

.Contact .total-contact .left{
  margin-top: 10%;
  margin-bottom: 15px;
  font-size: 25px;
}

.Contact .total-contact .right{
  margin-top: 13%;
  margin-bottom: 15px;
}

.Contact .total-contact .left h1{
  font-weight: bold;
}

.Contact .total-contact .right input{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 30px;
}

.Contact .total-contact .right textarea{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  height: 90%;
  max-width: 100%;
}

.Contact .total-contact .right input:Hover ,.Contact .total-contact .right textarea:hover{
  border: 2px solid grey;
}

.Contact .total-contact .right button{
  background-color: transparent;
  color: aliceblue;
  width: 200px;
  height: 45px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.Contact .total-contact .right button::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 15px;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
  z-index: -1;
} 

.Contact .total-contact .right button:hover::after{
  transform: scaleX(0);
  transform-origin: right;
}

.Contact .total-contact .right button:hover{
  color: black;
  border: 3px solid silver;
}

/* Man Page */
.mansec .top .right .dropdown-toggle{
  background-color: black;
  color: aliceblue;
  border: 1px solid black;
  border-radius: 15px;
  transition: transform 10ms ease-in-out;
}

.mansec .top .right .dropdown-toggle:hover{
  background-color: transparent;
  color: black;
}

.mansec .top .right .dropdown-item:hover{
  background-color: black;
  color: white;
}

.mansec .top .right input{
  border-top: white;
  border-left: white;
  border-right: white;
}

.mansec .top .right input:focus{
  border-radius: 15px;
}

.mansec .card div{
  position: relative;
}

.mansec .card div .photo{
  z-index: 1;
}

.mansec .card div .photo-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mansec .card div:hover .photo-2{
  z-index: 4;
}

.mansec .card .card-title{
  font-size: 17px;
}

.mansec .card .card-subtitle{
  display: flex;
}

.mansec .card a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.mansec .card .card-text{
  border: 1px solid black;
  border-radius: 23px;
  text-align: center;
  width: 150px;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 15;
  font-weight: bold;
}
/* Sale Page */
.salesec .top .right .dropdown-toggle{
  background-color: black;
  color: aliceblue;
  border: 1px solid black;
  border-radius: 15px;
  transition: transform 10ms ease-in-out;
}

.salesec .top .right .dropdown-toggle:hover{
  background-color: transparent;
  color: black;
}

.salesec .top .right .dropdown-item:hover{
  background-color: black;
  color: white;
}

.salesec .top .right input{
  border-top: white;
  border-left: white;
  border-right: white;
}

.salesec .top .right input:focus{
  border-radius: 15px;
}

.salesec .card div{
  position: relative;
}

.salesec .card div .photo{
  z-index: 1;
}

.salesec .card div .photo-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.salesec .card div:hover .photo-2{
  z-index: 4;
}

.salesec .card .card-title{
  font-size: 17px;
}

.salesec .card .card-subtitle{
  display: flex;
}

.salesec .card a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.salesec .card .des-1{
  border: 1px solid black;
  border-radius: 23px;
  text-align: center;
  width: 150px;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 15;
  font-weight: bold;
}

.salesec .card .des-2{
  border: 1px solid black;
  border-radius: 23px;
  text-align: center;
  width: 40px;
  height: 25px;
  padding: 2px;
  position: absolute;
  top: 35px;
  right: 5px;
  z-index: 15;
}

.salesec .card .des-3{
  display: none;
}

/* LOG IN PAGE */
.logsec .container{
  height: 87vh;
}

.logsec .container .row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logsec .container .row .total-form{
  max-height: 500px;
  max-width: 400px;
  background-color: rgb(242, 242, 242);
}

.logsec .container .row .total-form input{
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
}

.logsec .container .row .total-form .logbtn{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 10px 140px;
  background: black;
  transition: transform 250ms ease-in;
}

.logsec .container .row .total-form .logbtn:hover{
  background: transparent;
  color: black;
}

.logsec .container .row .total-form .logbtn2{
  text-decoration: none;
  border: 1px solid rgb(0, 132, 255);
  border-radius: 5px;
  color: white;
  padding: 10px 100px;
  background: rgb(0, 132, 255);
  transition: transform 250ms ease-in;
}

.logsec .container .row .total-form .logbtn2:hover{
  background: transparent;
  color: black;
}

.logsec .container .row .total-form .logbtn3{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 10px 100px;
  background: black;
  transition: transform 250ms ease-in;
}

.logsec .container .row .total-form .logbtn3:hover{
  background: transparent;
  color: black;
}

.logsec .container .row .total-form .link a{
  text-decoration: none;
  color: black;
}

.logsec .container .row .total-form .link a:hover{
  color: rgb(0, 132, 255);
}

/* media Qery */
@media screen and (max-width: 600px){
  /* NavBar */
  .navbar img {
    margin-left: 20px;
  }

  .bannar div p{
    width: 300px;
    text-align: center;
    display: block;
    font-size: 15px;
    margin-block-start: 0.7em;
    margin-block-end: 2.2em;
    margin-inline-start: 70px;
    margin-inline-end: 0px;
    line-height: 1.1;
  }

  /* sec-2 */
  
  .after-card{
    position: relative;
  }

  .after-card .right{
    display: flex;
    justify-content: space-between;
  }

  .after-card .right .btn-l{
    position: absolute;
    top: 300px;
    left: 0px;
    z-index: 15;
  }

  .after-card .right .btn-r{
    position: absolute;
    top: 300px;
    right: 0px;
    z-index: 15;
  }
  
  /* sec-3 */

  .sec-3 .big-img-left{
    width: 100%;
  }

  .sec-3 .big-img{
    width: 100%;
    background: url(../public/images/Home/Womens-230907-Secondary-Fall-HP-Update-Mobile-Secondary.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  /* Footer */
  .footer .left p{
    max-width: 600px;
  }

  .footer .left .botn a{
    padding: 15px 40px;
  }

  .footer .bottom ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Our Story Page */

  .ourbannar1{
    height: 100vh;
    max-width: 100%;
    background: url(../public/images/Ourstory/Royale-2.0-230907-Secondary-Fall-HP-Update-Secondary-Desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ourbannar3{
    height: 130vh;
    max-width: 100%;
    background: url(../public/images/Ourstory/Mobile-Breakdown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .oursec-1 .after-card1,.oursec-2 .after-card1{
    margin-left: 0px;
  }

  .oursec-1 .after-card1 div{
    max-width: 350px;
  }
  
  .oursec-2 .after-card1 div{
    max-width: 370px;
  }

  .oursec-1 .total-card .photo-left1{
    max-width: 85%;
    height: 400px;
  }
  
  .oursec-2 .total-card .photo-left1{
    max-width: 85%;
    height: 400px;
  }

  .oursec-1 .total-card .card ,.oursec-2 .total-card .card{
    max-width: 90%;
  }

  .oursec-1 .total-card .photo-left1{
    max-width: 90%;
    height: 500px;
  }
  
  .oursec-2 .total-card .photo-left1{
    max-width: 90%;
    height: 500px;
  }

  .oursec-1 .total-card .btn,.oursec-2 .total-card .btn{
    width: 90%;
  }

  .oursec-1 .total-card .btn a,.oursec-2 .total-card .btn a{
    width: 100%;
  }

  /* Contact US Page */
  .Contact{
    height: 110vh;
  }
  
  .Contact .total-contact .left{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .Contact .total-contact .right{
    margin-top: 13px;
  }
}


@media screen  and (min-width: 600px) and (max-width: 768px ){
  .footer .left .botn a{
    padding: 10px 40px;
  }

  /* Our Story Page */

  .ourbannar1{
    height: 100vh;
    width: 100%;
    background: url(../public/images/Ourstory/Royale-2.0-230907-Secondary-Fall-HP-Update-Secondary-Desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ourbannar3{
    height: 130vh;
    width: 100%;
    background: url(../public/images/Ourstory/Mobile-Breakdown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .oursec-1 .after-card1,.oursec-2 .after-card1{
    margin-left: 0px;
  }

  .oursec-1 .after-card1 div{
    max-width: 600px;
  }
  
  .oursec-2 .after-card1 div{
    max-width: 700px;
  }

  .oursec-1 .total-card .card ,.oursec-2 .total-card .card{
    max-width: 90%;
  }

  .oursec-1 .total-card .photo-left1{
    max-width: 90%;
    height: 500px;
  }
  
  .oursec-2 .total-card .photo-left1{
    max-width: 90%;
    height: 500px;
  }

  .oursec-1 .total-card .btn,.oursec-2 .total-card .btn{
    width: 90%;
  }

  .oursec-1 .total-card .btn a,.oursec-2 .total-card .btn a{
    width: 100%;
  }

  /* Contact US Page */
  .Contact{
    height: 80vh;
  }
  
  .Contact .total-contact .left{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .Contact .total-contact .right{
    margin-top: 13px;
  }
}

@media screen  and (min-width: 768px) and (max-width: 992px ){
  .oursec-1 .total-card .card ,.oursec-2 .total-card .card{
    max-width: 16rem;
  }

  .oursec-1 .total-card .photo-left1{
    max-width: 700px;
    height: 450px;
  }
  
  .oursec-2 .total-card .photo-left1{
    max-width: 700px;
    height: 450px;
  }

  .oursec-1 .total-card .btn a,.oursec-2 .total-card .btn a{
    margin-left: 10px;
    font-size: 15px;
    padding: 10px 30px;
  }
  
    /* Contact US Page */
    .Contact{
      height: 60vh;
    }
    
    .Contact .total-contact .left{
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 20px;
    }
    
    .Contact .total-contact .right{
      margin-top: 13px;
    }

    .Contact .total-contact .right textarea{
      height: 90%;
      max-width: 80%;
      margin-bottom: 15px;
    }
}

@media screen  and (min-width: 992px) and (max-width: 1200px ){
  .oursec-1 .total-card .photo-left1{
    max-width: 700px;
    max-height: 600px;
  }
  
  .oursec-2 .total-card .photo-left1{
    max-width: 700px;
    max-height: 600px;
  }

  .oursec-1 .total-card .btn a,.oursec-2 .total-card .btn a{
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 45px;
  }
}